# Environments & Caches
.venv/
env/
venv/
__pycache__/
*.pyc
.pytest_cache/
*.log

# Environment & Secret Files
.env
*.env

# SQLite Databases & Trained Models
*.db
*.sqlite3
*.joblib
*.pkl

# Raw & Processed Data
data/raw/
data/processed/

# IDE
.vscode/
.idea/