# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment variables
.env

# Data
data/raw/
data/processed/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db